# OSX "Presents"
.DS_Store

# OpenSUSE CSCI Department Config "Presents"
akonadi
dconf
gtk-3.0
libreoffice
oxygen-gtk
pulse
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yelp
hub

irssi/config
irssi/away.log

ssh/*.pub
ssh/*_rsa
ssh/*.rsa
ssh/*_dsa
ssh/*.dsa
ssh/known_hosts
ssh/authorized_keys

vim/.netrwhist
vim/viminfo
vim/simplenoterc
vim/plugin

wmii-hg/history.*
w3m/

zsh/.zcompdump
zsh/history
zsh/system
