ssh/*.pub
ssh/*_rsa
ssh/*_dsa
ssh/known_hosts
ssh/authorized_keys
vim/.netrwhist
vim/viminfo
vim/simplenoterc
vim/plugin
vim/bundle
!vim/bundle/vundle
zsh/.zcompdump
zsh/history
akonadi
dconf
gtk-3.0
oxygen-gtk
pulse
user-dirs.dirs
user-dirs.locale
yelp
Trolltech.conf
