[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "nvim/vim-plug"]
	path = nvim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "weechat/plugin-src/weechat-autosort"]
	path = weechat/plugin-src/weechat-autosort
	url = https://github.com/de-vri-es/weechat-autosort
[submodule "zncplayback"]
	path = weechat/plugin-src/zncplayback
	url = https://gist.github.com/95cd08c90a53958958886bf844f3e87e.git
