# macOS nonsense
.DS_Store

asciinema/

gnupg/*
!gnupg/gpg.conf

hub

iTerm2/

nvim/.netrwhist
nvim/plugged

ssh/*
!ssh/config
!ssh/hosts.d/

vim/.netrwhist
vim/viminfo
vim/plugged

zsh/.zcompdump
zsh/history
zsh/system

# csharp nonsense
*.history
.mono/
