#KERNEL=="mmcblk[0-9]*p[0-9]*", SUBSYSTEM=="block", ATTRS{type}=="SD", ATTRS{serial}=="0x00000000", TAG+="systemd", ENV{SYSTEMD_WANTS}+="backup-flippersd.service"
