[Unit]
Description=Jupyter notebook server

[Service]
ExecStart=/usr/bin/jupyter-notebook --no-browser --transport=ipc
WorkingDirectory=/home/qguv/dev
